# PyCity


  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schools = pd.read_csv(school_path)
students = pd.read_csv(student_path)

# Combine the data into a single dataset.  
school_data = pd.merge(students, schools, how="left", on=["school_name", "school_name"])
school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

- Calculate the total number of schools, number of students, budget
- Calculte average math score, reading score
- Calculate the percentage of students with a passing math score, passing reading score (70+), and BOTH
- Create a dataframe to hold the above results

In [2]:
# Calculate the total number of unique schools
total_schools = schools['School ID'].count()
total_schools

15

In [3]:
# Calculate the total number of students
total_students = schools['size'].sum()
total_students

39170

In [4]:
# Calculate the total budget
total_budget = schools['budget'].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
avg_math = students['math_score'].mean()
avg_math

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
avg_read = students['reading_score'].mean()
avg_read

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math = students.loc[students['math_score'] >= 70]
percent_pm = len(passing_math)/ total_students * 100
percent_pm

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_read = students.loc[students['reading_score'] >= 70]
percent_pr = len(passing_read)/ total_students * 100
percent_pr

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_overall = (percent_pm + percent_pr)/2
passing_overall

80.39315802910392

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {"Total Schools":total_schools, "Total Students":total_students, "Total Budget":total_budget, "Average Math Score":avg_math, "Average Reading Score":avg_read, "Percent Passing Math":percent_pm, "Percent Passing Reading":percent_pr, "Percent Passing Overall":[passing_overall]}

# Formatting
district_summary_df = pd.DataFrame(district_summary)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map('${:,.2f}'.format)
# Display the DataFrame
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

## School Summary
- School Name
- School Type
- Total Students
- Total school budget
- Per student budget
- Average math score
- Average reading score
- % passing math (the percentage of students who passed math)
- % passing reading (the percentage of students who passed reading)
- % overall passing (the percentage of students who passed math AND reading)

In [11]:
# Use the code provided to select all of the school types
school_types = schools.set_index("school_name")['type']
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school
student_per_school = schools.set_index('school_name')['size']
student_per_school

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school
school_budget = schools.set_index('school_name')['budget']
spend_per_school = school_budget/student_per_school
spend_per_school

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [14]:
# Calculate the average test scores per school school_data.groupby(['school_name'])
avgm_school = school_data.groupby(['school_name'])['math_score'].mean()
avgr_school = school_data.groupby(['school_name'])['reading_score'].mean()

In [15]:
# Calculate the number of students per school with math scores of 70 or higher
students_per_school = school_data.groupby(['school_name'])['school_name'].count()
math_group = passing_math.groupby('school_name')
percentm = math_group['school_name'].count()/students_per_school*100

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher
group_read = passing_read.groupby('school_name')
percentr = group_read['school_name'].count()/students_per_school*100

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
percento = (percentm + percentr) / 2
percento

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: school_name, dtype: float64

In [18]:
# Use the provided code to calculate the passing rates
math_rate = percentm / students_per_school * 100
read_rate = percentr / students_per_school * 100
overall_rate = percento / students_per_school * 100

In [19]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
school_summary = {"School Type":school_types, "Total Students":student_per_school, "Total School Budget":school_budget, "Per Student Budget":spend_per_school, "Average Math Score":avgm_school, "Average Reading Score":avgr_school, "Percent Passing Math":percentm, "Percent Passing Reading":percentr,"Percent Passing Overall":percento}
school_summary_df = pd.DataFrame(school_summary)

# Formatting - was done in the code
# Display the DataFrame
school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668

## Highest-Performing Schools (by % Overall Passing)

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
school_summary_df.sort_values(['Percent Passing Overall'], ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
school_summary_df.sort_values(['Percent Passing Overall'], ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

In [22]:
# Use the code provided to separate the data by grade
grade9 = students.loc[students['grade']=='9th'].groupby("school_name")
grade10 = students.loc[students['grade']=='10th'].groupby("school_name")
grade11 = students.loc[students['grade']=='11th'].groupby("school_name")
grade12 = students.loc[students['grade']=='12th'].groupby("school_name")

# Group by `school_name` and take the mean of the `math_score` column for each.
math9 = grade9['math_score'].mean()
math10 = grade10['math_score'].mean()
math11 = grade11['math_score'].mean() 
math12 = grade12['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": math9, "10th": math10, "11th": math11, "12th": math12})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade.head()

                            9th       10th       11th       12th
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

In [23]:
# Use the code provided to separate the data by grade
grade9 = students.loc[students['grade']=='9th'].groupby("school_name")
grade10 = students.loc[students['grade']=='10th'].groupby("school_name")
grade11 = students.loc[students['grade']=='11th'].groupby("school_name")
grade12 = students.loc[students['grade']=='12th'].groupby("school_name")

# Group by `school_name` and take the mean of the the `reading_score` column for each.
read9 = grade9['reading_score'].mean()
read10 = grade10['reading_score'].mean()
read11 = grade11['reading_score'].mean()
read12 = grade12['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": read9, "10th": read10, "11th": read11, "12th": read12})

# Minor data wrangling
reading_scores_by_grade.index.name = None
# Display the DataFrame
reading_scores_by_grade.head()

                            9th       10th       11th       12th
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

In [24]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = school_summary_df.copy()

In [26]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(school_spending_df['Per Student Budget'], spending_bins, labels=labels)

In [27]:
#  Calculate averages for the desired columns. 
spend_summary = school_spending_df.groupby('Spending Ranges (Per Student)')

In [28]:
# Assemble into DataFrame
spend_summary = spend_summary[["Average Math Score", "Average Reading Score", "Percent Passing Math",  "Percent Passing Reading", "Percent Passing Overall"]]


# Display results
spend_summary.mean()

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-630,81.899826,83.155286,87.133538,92.718205,89.925871
$630-645,78.518855,81.624473,73.484209,84.391793,78.938001
$645-680,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [32]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_summary = school_spending_df.groupby('School Type')

In [33]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = type_summary[["Average Math Score", "Average Reading Score", "Percent Passing Math",  "Percent Passing Reading", "Percent Passing Overall"]]

# Display results
type_summary.mean()

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757